<h1>Listado de canalizaciones</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contacto</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="/dashboard/proyectos/{{id}}" class="waves-effect waves-light btn">Ver</a></td>
      <td><a href="/dashboard/proyectos/editar/{{id}}" class="waves-effect waves-light btn">Editar</a></td>
    </tr>
  </tbody>
</table>