<h1>Registrar nuevo proyecto</h1>

    <form>
      <div class="row">
        <div class="input-field col m6 s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col m6 s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Descripción corta</label>
        </div>
      </div>

      <!--<div class="row">
        <div class="input-field col m6 s12">
          <select>
            <option value="" disabled selected>Seleccione un estado</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Estado</label>
        </div>
        <div class="input-field col m6 s12">
          <select>
            <option value="" disabled selected>Seleccione un municipio</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Municipio</label>
        </div>
      </div>-->
      
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Dirección</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col m6 s12">
          Fecha de inicio
          <input type="date" name="inicio" id="inicio">
        </div>
        <div class="input-field col m6 s12">
          Fecha de fin
          <input type="date" name="final" id="final">
          
        </div>
      </div>


      <div class="row">
        <div class="input-field col m6 s12">
          <select>
            <option value="" disabled selected>Seleccione un estatus</option>
            <option value="1">NUEVO</option>
            <option value="2">PROCESO</option>
            <option value="3">TERMINADO</option>
          </select>
          <label for="first_name">Estatus</label>
        </div>
        <div class="input-field col m6 s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Observaciones</label>
        </div>
      </div>

      
      <a class="waves-effect waves-light btn-large">Registrar</a>

    </form>



      


  


  <!--Testing JS for the cities-->
  <script src="/javascripts/mx-data.js"></script>
  <script src="/javascripts/new-proj-form.js"></script>