<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CáritasQro</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/javascripts/init.js"></script>

</head>
<body>
  
  <main class="row">
    <div class="collection col s3 white-text red">
      <li class="collection-header">
        <div class="img-wrap">
          <img src="https://scontent.fgdl4-1.fna.fbcdn.net/v/t1.0-9/36912321_1964265953597941_8969276024957173760_n.jpg?_nc_cat=104&_nc_ht=scontent.fgdl4-1.fna&oh=4084429a2b7922eca8f45fa611b0a64b&oe=5CF11722" alt="" srcset="">
        </div>
        <p class="collection-title white-text">{{user.fullName}}</p>
      </li>
      <a href="/dashboard/proyectos/" class="collection-item avatar red white-text">
        <i class="material-icons circle red">chrome_reader_mode</i>
        Proyectos
      </a>
      <a href="/dashboard/beneficiarios" class="collection-item avatar red white-text">
        <i class="material-icons circle red">accessibility_new</i>
        Beneficiarios
      </a>
      <a href="#" class="collection-item avatar red white-text">
        <i class="material-icons circle red">pan_tool</i>
        Donantes
      </a>
      <a href="#" class="collection-item avatar red white-text">
        <i class="material-icons circle red">note_add</i>
        Escribir Post
      </a>
      <a href="/dashboard/canalizaciones" class="collection-item avatar red white-text">
        <i class="material-icons circle red">assessment</i>
        Canalizaciones
      </a>
    </div>

    <section id="content" class="col s9">
        <div class="container">{{{body}}}</div>
    </section>

  </main>
  
  </body>
</html>