<div class="container">
<div class="col s12">

        <div class="card grey lighten-5">
            <div class="card-content  black-text">
                <div class="row">
                <span class="card-title center"> <h1>¿Quiénes somos?</h1></span>
                <div class="divider"></div>
                    <div class="col s6">
                        <h4 class="center">Misión</h4>
                        <h6 class="center">"Promover la solidaridad y la justicia social hacia los más pobres y excluidos; impulsando programas y proyectos de
                            asistencia y promoción para colaborar al fortalecimiento de una sociedad más justa y fraterna."</h6> <br>
                    </div>
                        <div class="col s6">
                        <h4 class="center">Visión</h4>
                        <h6 class="center">"Ser una institución católica promotora de la dignificación de las personas y del cambio social justo y solidario."</h6> <br>
                    </div>
                 <!--/////////////////////////////// -->
                    <div class="col s12">
                        <div class="divider"></div>
                        <h3 class="center">Valores</h3>
                        <div class="slider">
                            <ul class="slides">
                                <li>
                                    <img src="images/valor3.jpg"> 
                                    <div class="caption center-align">
                                        <h3>Dignidad de la persona</h3>
                                        <h5 class="light grey-text text-lighten-3">Todos somos importantes</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/valor1.jpg">
                                    <div class="caption left-align">
                                        <h3>Justicia Social</h3>
                                        <h5 class="light grey-text text-lighten-3">Hay que respetar unos a otros</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/valor2.jpg"> 
                                    <div class="caption right-align">
                                        <h3>Caridad</h3>
                                        <h5 class="light grey-text text-lighten-3">Vivir una vida dando más de lo que tenemos</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/comunidad.jpg"> 
                                    <div class="caption center-align">
                                        <h3>Sencillez</h3>
                                        <h5 class="light grey-text text-lighten-3">Ver a todos por igual</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/casos.jpg"> 
                                    <div class="caption center-align">
                                        <h3>Efectividad</h3>
                                        <h5 class="light grey-text text-lighten-3">Para cumplir nuestras metas</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!--////////////////////////////////////-->

                    </div>
            </div>
        </div>
    </div>
</div>
</div>