<div id="parallaxContainer" class="parallax-container">
    <div class="parallax"><img src="images/phone.jpg"></div>
</div>

        <div class="container">
            <div class="col s12">
                <div class="card grey lighten-5 hoverable">
                    <h3 class="card-panel red darken-1 center"><span class="white-text">Contacto</span></h3>
                    <div class="container">
                        <div class="row">
                            <form class="col s12">
                                <h5>Gracias por sus comentarios e interés en nuestro proyecto. Nos pondremos en contacto con
                                    usted lo antes posible.</h4>
                                    <br>
                                    <div class="row">
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="mail" type="email" class="validate">
                                            <label for="mail">Correo</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="message" type="text" class="validate">
                                            <label for="message">Mensaje</label>
                                        </div>
                                    </div>
                                    <div class="row">
        
                                        <div class="input-field col s6">
                                            <a href="mailto:caritasqueretaro@.com">
                                                <div class="waves-effect red darken-1 btn">
                                                    Enviar
                                                </div>
                                                <!--<input class="waves-effect red darken-1 btn" type="submit" value="Enviar formulario">-->
                                            </a>
                                        </div>
                                        <div class="col s6">
                                            <br>
                                            <div class="waves-effect red darken-1 btn">
                                                <a id="num" href="tel:+722 3415213">Llámanos: 212 33 19</a>
                                            </div>
                                        </div>
                                    </div>
        
                        </div>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div class="card-panel">
                        <span class="black text-darken-2">
                            <h4 class="center">¿Todavía tienes dudas?</h4>
                            <h5 class="center">Puedes marcanos a nuestras oficinas </h5>
                        </span>
                        <h5>Tels: <br> 212 33 19 / 212 35 96 <br>
                            Horario de oficinas: <br> Lunes a
                            Viernes de 8am a 4pm</h5>
                    </div>
                </div>
            
        </div>
    </div>
</div>