<div class="container">
    <div class="card grey lighten-5 col s12 ">
        <!--Header -->
        <div class="row">
             <div class="row valign-wrapper">  <br>                   
              <div class=" col s12">
                 <h3 class="card-panel red darken-1 center hoverable"><span class="white-text">Beneficiario</span></h3>
              </div>
              </div>    

              <!--_____________DATOS BENEFICIARIO___________--> 
              <div class="container">
              <div class="row">
                <div class="col s4 ">
                    <blockquote>
                    <label for="first_name"><h5>Nombre</h5></label>
                    <h4>Javier</h4> 
                    <label for="first_name"><h5>Apellido</h5></label>
                    <h4>Iñiguez</h4> 
                    </blockquote>
                </div>
                <div class="col s8 ">
                    <blockquote>
                    <label for="first_name"><h5>Sexo</h5></label>
                    <h4>Masculino</h4> 
                    <label for="first_name"><h5>Fecha de Nacimiento</h5></label>
                    <h4>24/02/1997</h4> 
                    </blockquote>
                </div>
                <div class="col s4">
                    <blockquote>
                    <label for="first_name"><h5>Estado Civil</h5></label>
                    <h4>Soltero</h4>  
                    </blockquote>
                </div>
                <div class="col s4">
                    <blockquote>
                    <label for="first_name"><h5>Zona</h5></label>
                    <h4>Rural</h4>  
                    </blockquote>
                </div>
                <div class="col s4">
                    <blockquote>
                    <label for="first_name"><h5>Profesión</h5></label>
                    <h4>Carpintero</h4>  
                    </blockquote>
                </div>                
                <div class="col s12">
                    <blockquote>
                    <label for="first_name"><h5>CURP</h5></label>
                    <h4>A01366111IQF012FB</h4>
                    <label for="first_name"><h5>RFC</h5></label>
                    <h4>SABCAEDWD2D2</h4> 
                    </blockquote>

                    <blockquote>
                    <label for="first_name"><h5>Municipio</h5></label>
                    <h4>Querétaro</h4> 
                    <label for="first_name"><h5>Dirección</h5></label>
                    <h4>Av. Constituyentitos 407, Miguel Hidalgo 123</h4> 
                    </blockquote>
                </div>
              </div>   
              </div>
         </div>
    </div>
</div>