<div class="container">
    <div class="card grey lighten-5 col s12 ">
        <!--Header -->
        <div class="row">
                    <div class="row valign-wrapper">
                        <br>
                        <div class="col s2">
                            <br>
                            <img src="images/caridad.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class=" col s9 right">
                            <h3 class="card-panel red darken-1 center hoverable"><span class="white-text">Julión Villa</span></h3>
                        </div>
                     </div>
         </div>
    </div>
</div>