<div ></div>
    <div >
        
        
    </div>
    <div >
        <h2 class="col s12  no-margin-top">{{beneficiario.nombre}} {{beneficiario.apellido}}</h2>
       
        <br>
       
        <br>
        <div class="row">
        <div class="col s14 ">
        <h4>Acerca de</h4>
    
        <h4>Desafios</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam provident placeat ipsa vitae cupiditate asperiores 
            labore odio exercitationem, vel ducimus fugit laudantium molestias, itaque veniam minus soluta, numquam maxime ratione.</p>
        <h4>¿A quienes apoyarías?</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed omnis odit, hic qui repellendus quisquam dolore 
            officiis eveniet 
            suscipit adipisci esse quibusdam quaerat autem dicta iste beatae vitae porro!</p>
        </div>
        <div class="col s4 ">
            <a class="waves-effect red lighten-1 btn-large">Patrocina este beneficiario</a> <br>
            <blockquote>
          
            </blockquote>
        </div>
        </div>
    </div>
</div>
