<div class="col s12 center">
         <img src="/images/comida.jpg" alt="alimentacion" width="1280px" height="420px">
     </div>
<div class="container">
    <span class="flow-text"><h1 class="col s12 m6">Programa Alimentación</h1></span>
    <hr> 
    <div class="row">
    <div class="col s8 ">
    <h4>Acerca de</h4>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt inventore, optio ea officiis nulla 
     quisquam, cumque architecto quam labore a! Aperiam sint ratione odit dolor recusandae sequi. Hic, dolor.</p> 
     <h4>Desafios</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam provident placeat ipsa vitae cupiditate asperiores 
         labore odio exercitationem, vel ducimus fugit laudantium molestias, itaque veniam minus soluta, numquam maxime ratione.</p>
    <h4>¿A quienes apoyarías?</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed omnis odit, hic qui repellendus quisquam dolore 
        officiis eveniet 
        suscipit adipisci esse quibusdam quaerat autem dicta iste beatae vitae porro!</p>
    </div>
    <div class="col s4 ">
        <a class="waves-effect red lighten-1 btn-large">Patrocina este Proyecto</a> <br>
        <blockquote>
          <ul>
            <li> <h5>0</h5> </li>
            <li>Patrocinadores</li>
            <li> <h5>$0.00</h5> </li>
            <li>Contribuido</li>
            <li> <h5>Ubicación</h5> </li>
            <li>Gudalajara, Jalisco</li>
         </ul>
        </blockquote>
    </div>
    </div>
</div>

