<container>
    <h1 class="col s12 m6 center">{{id}}</h1>
        <div class="row">
            <div class="col s12 center">
                <img src="/images/alimentación.jpg" alt="alimentacion">
            </div>
            <div class="col s12 m6 center"><span class="flow-text">I am full-width on mobile (col s12 m6)</span></div>
        </div>
</container>

