<container>
        <div class="row">
            <div class="col s12 center">
                <img src="/images/alimentación.jpg" alt="alimentacion" width="1480px" height="570px">
            </div>
            <div class="col s12 m6 center"><span class="flow-text"><h1 class="col s12 m6 center">{{id}}</h1></span></div>
        </div>
</container>

